 
@using groupCW.ViewModel

@model List<RemoveOldDVDViewModel>

    <h3 class="text-dark mb-4 text-center">Remove DVDs older than 365 days</h3>


<table class="table text-dark table-bordered table-striped" style="width: 100%">
    <thead style="border: 2px solid black;">
        <tr>
            <th >DVD Title</th>
            <th >DVD Release Date</th>
            <th >Copy Number</th>
            <th >DVD Date Purchased</th>
            <th >Return Date</th>
            <th >Date Out</th>
            <th ></th>
        </tr>
    </thead>

          
    <tbody >
        @foreach(var obj in Model)
        {
            <tr>
                <td class="text-white" >@obj.dvdTitle</td>
                <td class="text-white" >@obj.dvdReleaseDate</td>
                <td class="text-white" >@obj.copyNumber</td>
                <td class="text-white" >@obj.dvdDatePurchased</td>
                <td class="text-white" >@obj.dvdDateReturned</td>
                <td class="text-white" >@obj.dvdDateOut</td>
                <td class="text-white" >
                   <a 
                        asp-controller="RemoveOldDVD"
                        asp-action="RemoveDVD" 
                        asp-route-id="@obj.dvdid" 
                        style="text-decoration: none"
                        class="badge rounded-pill bg-info">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    
</table>
